@using BlockApp.Data.Entities
@{
    //ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="page-content-margin">
    <section class="content-image">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-7 col-sm-offset-1 col-lg-offset-0">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-color-minor">The advantages of Safe Crypto Trade:</h2>
                        </div>

                        <div class="card-block text-small text-color-extra text-indent">
                            <p>
                                <strong>Autonomy</strong> — to conclude and confirm the transaction, you do not need to look for an intermediary in the person of a broker, bank, notary, etc.;
                            </p>
                            <p>
                                <strong>
                                    Reliability and security
                                </strong> — a multiple-duplicated contract is stored in an encrypted form in the blockroom;
                            </p>
                            <p>
                                <strong>Security</strong> of the system is guaranteed by mathematical laws and makes hacker attacks unlikely, as well as substituting information backdating);
                            </p>
                            <p>
                                <strong> Saving and speed</strong> — thanks to the blockbuster many intermediaries are eliminated and processes are automatized;
                            </p>
                            <p>
                                <strong>Accuracy</strong> — due to automation and minimization of manual work, the probability of errors that often appear when filling out forms during the reconciliation process and when manually performing various operations under the contract is reduced.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="work-image">
        <div class="container">
            <h1 class="text-center text-color-minor">
                How it works
            </h1>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-12 col-md-offset-1 col-lg-offset-0 text-color-minor text-indent">
                    <p>
                        Nowadays the main problem in trade is the distrust between the buyer and the seller, when a buyer does not trust a merchant to deliver and the merchant does not trust the buyer to pay. In this case a SCT can assist - the merchant and the buyer must cooperate to finalize a payment over to the merchant. Once the buyer is satisfied, he signs the payment over to the merchant.
                    </p>
                    <p>
                        If something goes wrong, the buyer's funds are locked: not signed over to the merchant but not returned either. This gives the two parties motivation to come to an agreement to unlock the funds.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-image">
        <div class="container">
            <h1 id="Contact" class="text-color-extra">
                Contacts
            </h1>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-4 col-lg-5 col-sm-push-2 col-md-push-4 col-lg-push-0">
                    <div class="text-cantainer"><img src="/images/Icons/mail.svg" class="icon-container" /><a href="mailto:sales.manager.netls@gmail.com" class="link-extra">sales.manager.netls@gmail.com</a></div>
                </div>
               
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-4 col-lg-5 col-sm-push-2 col-md-push-4 col-lg-push-0">
                    <div class="text-cantainer"><img src="/images/Icons/phone.svg" class="icon-container" /><a href="tel:+380 93 310 5980" class="link-extra">+380 93 310 5980</a></div>
                </div>

            </div>
        </div>
    </section>
</div>



