@{
    ViewData["Title"] = "Access denied";
}

<div class="container-account-model">
    <div class="header-account-modal">
        <h2>@ViewData["Title"]</h2>
    </div>
        
    <div class="content-account-model">
        <p class="text-danger">You do not have access to this resource.</p>
    </div>
</div>
