@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container-account-model">
    <div class="header-account-modal">
        <h2>@ViewData["Title"]</h2>
    </div>
        
    <div class="content-account-model">
        <p class="text-color-minor">Please check your email to reset your password.</p>
    </div>
</div>