@{
    ViewData["Title"] = "Forgot password error";
}

<div class="container-account-model">
    <div class="header-account-modal">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div class="content-account-model">
        <p class="text-color-minor">Impossible to send email for reset password, because email is not registered or unconfirmed. Please <a asp-action="Register" class="link-underscore link-minor">click here to registed</a>.</p>
    </div>
</div>