@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container-account-model">
    <div class="header-account-modal">
        <h2>@ViewData["Title"]</h2>
    </div>
        
    <div class="content-account-model">
        <p class="text-color-minor">Your password has been reset. Please <a asp-action="Login" class="link-underscore link-minor">click here to log in</a>.</p>
    </div>
</div>