@{
    ViewBag.Title = "Terms of use";
}


<div class="container-account-model">
    <div class="header-account-modal">
        <h2 class="text-center">@ViewData["Title"]</h2>
    </div>

    <div class="content-account-model">
        <p class="text-color-minor">Coming soon.</p>
    </div>
</div>
