@{
    ViewBag.Title = "Video Guide";
}


<div class="container-account-model">
    <div class="header-account-modal">
        <h2 class="text-center">@ViewData["Title"]</h2>
    </div>

    <div class="content-account-model">
        <video style="width: 100%;"  poster="/images/video_guide.png" controls>
            <source src="video_guide.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>